body {
    background: black;
    color: white;
  }
  
  h1 {
    color: purple;
  }
  
  button {
    background: purple;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 8px;
  }